{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Party Finder</title>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='/static/css/reset.min.css'>
        <link rel='stylesheet' href='/static/css/main.css'>
        <style>@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');</style>
    </head>
        <body>
          <header class="center header__content">
            <h1 class="mt"><a href="/">Party Finder</a></h1>
            <img class="center"src="/static/img/location-map-finding-lost.svg" alt="location map" width="50rem" height="50rem" alt="map">
          </header>
          <nav class="wrapper cluster nav__content">
            <div>
              <a href="/">Home</a>
              <a href="/parties/create">New Party</a>
            </div>
          </nav>
          <main class="wrapper stack main__content">
            {{with .Flash}}
            <div class="center flash__container">
              <div class="flash">{{.}}</div>
            </div>
            {{end}}
            {{template "main" .}}
          </main>
        </body>
    {{template "footer" .}}
</html>
{{end}}
