{{template "base" .}}

{{define "title"}}Create a New Party{{end}}

{{define "main"}}
<form class="center form" action="/parties/create" method="POST">
  {{with .Form}}
  <div class="stack form-background">
    <div>
    {{template "party_form" .}}
    </div>
    <div>
      <button class="mt success" type="submit">Create New Party</button>
    </div>
  </div>
  {{end}}
</form>
{{end}}
