{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2 class="center">Latest Parties</h2>
    {{if .Parties}}
    <div class="center">
        <div class="grid stack">
          {{range .Parties}}
            {{template "party" .}}
          {{end}}
        </div>
    </div>
    {{else}}
      <p>Sorry, there are currently no meets!</p>
    {{end}}
{{end}}
