{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2 class="center">All Available Parties</h2>
    <div class="center">
        <div class="grid stack">
        </div>
    </div>
      <p>Sorry, there are currently no available parties!</p>
{{end}}
