{{define "party_form"}}
    <div>
      <label>
        <span>Name:</span><br />
        <input
          type="text"
          placeholder="Party name"
          name="name"
          value="placeholder name"
        >
      </label>
    </div>
    <div>
      <label>
        <span>Location:</span><br />
        <input
          type="text"
          placeholder="location"
          name="location"
          value="placeholder location"
        >
      </label>
    </div>
    <div>
      <label>
        <span>Description:</span><br />
        <textarea name="description" placeholder="Description" cols="50" rows="10">Description for the gaming group (party)</textarea>
      </label>
    </div>
    <div>
      <label class="inline-label">
        <span>Looking for players:</span><br />
        <input
          type="number"
          name="lf_p"
          min="0"
          max="10"
        >
      </label>
      <label class="inline-label">
        <span>Looking for Game Masters:</span><br />
        <input
          type="number"
          name="lf_gm"
          min="0"
          max="10"
        >
      </label>
{{end}}
